
.tile {
	width: 30px;
	height: 30px;
	border: 1px solid gray;
}

.unclickedTile {
	background: yellow;
	cursor: pointer;
}

.clickedTile {
	background: white;
	text-align: center;
	line-height: 30px;
}

.bomb {
	background: red;
	text-align: center;
	line-height: 30px;
}

.flagged {
	background: yellow;
	text-align: center;
	line-height: 30px;
}

.oneBomb {
	color: blue;
}
.twoBombs {
	color: green;	
}

.threeBombs {
	color: red;
}

.fourBombs {
	color: purple;
}

.fiveBombs {
	color: brown;
}

.sixBombs {
	color: orange;
}

.sevenBombs {
	color: gray;
}

.eightBombs {
	color: purple;
}
